@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: #e3f2fd;
}
.header{
    background-color: #5372f0;
    padding: 18px 0;
    text-align: center;
    color: #fff;
    font-size: 1.75rem;
}
.container{
    padding: 30px;
    display: flex;
    gap: 35px;
}
.weather-input{
    width: 550px;
    display: flex;
    flex-direction: column;
}
.weather-input input{
    font-size: 1.07rem;
    height: 46px;
    outline: none;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0 20px 0;
}
.weather-data{
    width: 100%;
}
.weather-input button{
    font-size: 1rem;
    height: 42px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 20px 0 ;
}

.weather-input .search-btn{
    background-color: rgba(58, 58, 161, 0.802);
}
.sparator{
    position: relative;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sparator span{
    position: absolute;
    background-color: #e3f2fd;
    padding-inline: 10px;
}
.weather-input .location-btn{
    background-color: gray;
}


.weather-data{
    width: 100%;
}
.current-weather{
    background-color: #5372f0;
    color: #fff;
    padding: 20px 70px 20px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.current-weather h2{
    font-size: 1.7rem;
}

.weather-data h4{
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}

.current-weather .icon{
    text-align: center;
}

.current-weather .icon img{
    max-width: 120px;
    margin-top: -15px;
}

.current-weather .icon h4{
    margin-top: -10px;
    text-transform: capitalize;
}

.days-forcast h2{
    font-size: 1.5rem;
    margin: 20px 0;
}

.weather-cards{
    display: flex;
    gap: 20px;
}

.weather-cards .card{
    list-style: none;
    color: #fff;
    background-color: #6c757d;
    padding: 18px 16px;
    border-radius: 5px;
    width: calc(100% / 4);
}

.weather-cards .card img{
    max-width: 70px;
    margin: 5px 0 -12px 0;
}

@media (max-width: 1400px) {
    .weather-data .current-weather{
        padding: 20px;
    }
    .weather-cards {
        flex-wrap: wrap;
    }
    .weather-cards .card{
        width: calc(100% / 4 - 15px);
        /* background-color: red; */
    }
}
@media (max-width:1200px) {
    .weather-cards .card{
        width: calc(100% / 3 - 15px);
    }
}

@media (max-width: 950px) {
    .weather-input {
        width: 450px;
    }
    .weather-cards .card{
        width: calc(100% / 2 - 10px);
    }
    .weather-input{
        width: 100%;
    }
}

@media (max-width: 750px) {
    .container{
        flex-wrap: wrap;
        padding: 15px;
    }
    .weather-input{
        width: 100%;
    }
    
}
